
:root {
    --oscuro:#051f1a;
    --colorPrimario: #fff;
    --colorSecundario: #0D9A68;
    --fontTitle:font-family: 'Lora', serif;
    --fontText:font-family: 'Barlow', sans-serif;
} 

html {
    font-size: 65%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
  font-size: 16px;
  font-family:'Barlow', sans-serif;
  color: var(--colorPrimario);
  background-color: var(--oscuro);
  margin: 0 auto;
  padding: 96px 0;
}

/*generales*/

h1, h2, h3 {
  margin: 0;
}

h1{
  font-size: 3.5rem;
  font-family:'Raleway', sans-serif;
}

h2{
 font-size:2.8rem;
}


h3{
 font-size: 1.2rem;
}

.titulo {
  font-size: 4.8rem;
  font-family:'Raleway', sans-serif;
}

.subtitulo {
  font-size: 2rem;
}

.focus:hover {
    color: var(--colorSecundario);
    cursor: pointer;
}

.parrafo-corto {
  max-width: 320px;
}

.head-text{
  margin-top: 4rem;
}

a {
text-decoration: none;
color: var(--colorPrimario);
font-family: var(--fontTitle);
font-size: 2rem;
}

.contenedor{
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

.flex{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.flex__item {
  margin: 2rem;
}


@media (min-width:768px){
  .flex{
    flex-direction: row;
  }

  .flex__item {
    width: 50%;
  } 
}


.flex__item {
  margin: 2rem;
}



  .navegacion {
    margin-top: 6.4rem;
    list-style: none;
    padding: 0;
  }

  .navegacion--icono {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .navegacion--icono {
    margin-bottom: 1rem;
  }

  /*contenedor proyectos*/
.card__title,
.card__description,
.card__skills-item {
  margin: 0;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2rem;
  cursor: pointer;
}

.card__image {
  width: 100%;
}

.card__title {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.card__description {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}

.card__skills {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card__skills-item {
  font-size: 1.2rem;
  color:var(--colorSecundario);
  border: 1px solid var(--colorSecundario);
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/*formulario*/
/*
.formulario {
  background-color: #88f1c451;
  margin:auto;
  width: 90%;
  max-width: 120rem;
  padding: 4.5rem 3rem;
  border-radius: 1rem;
  font-family: var(--fontText);
}

legend {
 text-align: center;
 font-size: 2rem;
}

.campo {
  margin-top: 2rem;
}

.campo__label {
 margin-bottom: 1rem;
 cursor: pointer;
}

.campo__field {
  flex: 3;
  width: 100%;
  border-bottom: 1px solid 	#C0C0C0;
  padding: 1rem;
  }

  
.campo__field--textarea {
  height: 10rem;
}

.button {
  background-color:var(--colorPrimario);
  padding: 1rem 2rem;
  border-radius: 1px solid #000000;
  margin: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width:70%;
}

@media (min-width:998px ) {
.campo {
  display: flex;
  margin-top: 2rem;
}

.campo__label {
 flex: 0 0 9rem;
 text-align: left;
 padding-right: 2rem;
 cursor: pointer;
}

.campo__field {
  flex: 3;
  width: 100%;
  border-bottom: 1px solid 	#C0C0C0;
  padding: 1rem;
  }

  
.campo__field--textarea {
  height: 10rem;
}

.button {
  background-color:var(--colorPrimario);
  padding: 1rem 2rem;
  border-radius: 1px solid #000000;
  margin: 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 10rem;
}
}

.button:hover {
  background-color: bisque;
}

.contacto {
  margin-top: 2rem;
}
*/


.footer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 32px;
  cursor: pointer;
}